@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #fff);
    border-radius: 6px;
}

body {
    font-family: 'Krona One', sans-serif;
    background-color: #1F1F1F;
}

.menu__text {
    font-family: 'Montserrat', sans-serif;
}

.hire__button,
.preview__image:hover,
.blob__card:hover {
    box-shadow: 0px 30px 30px -20px #000000;
}

.hero__title,
.single__portfolio__detail p,
.copyright__text,
.contact__send,
.dashboard__main
{
    font-family: 'Inter', sans-serif;
}

.social__icon:hover .icon {
    color: #000;
}

title {
    text-transform: capitalize;
}