@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #fff);
    border-radius: 6px;
}

body {
    font-family: 'Krona One', sans-serif;
    background-color: #1F1F1F;
}
.menu__text, 
.explore__btn
{
    font-family: 'Montserrat', sans-serif;
}

.hire__button,
.preview__image:hover,
.blob__card:hover {
    box-shadow: 0px 30px 30px -20px #000000;
}

.hero__title,
.single__portfolio__detail p,
.copyright__text,
.contact__send,
.dashboard__main
{
    font-family: 'Inter', sans-serif;
}

.social__icon:hover .icon {
    color: #000;
}

title {
    text-transform: capitalize;
}
.explore__btn{
    left: 50%;
    bottom: 20%;
    transform: translate(-50%,50%);
}

.blob__card:hover .explore__btn{
    display: block;
    transition: 0.4s ease-in;
}
.preloader{
    width: 100%;
    height: 280px;
    display: flex;
    align-items: center;
}
.preloader::after { 
    content: " ";
    display: block;
    
    margin: auto;
    height: 32px;
    width: 32px;
    
    box-sizing: border-box;
    border: solid;
    border-width: 4px;
    border-radius: 50%;
    /* border-top-color: rgba(140, 140, 140, 0.55); */
    border-top-color: #fff;
    border-bottom-color: rgba(140, 140, 140, 0.2);
    border-right-color: rgba(140, 140, 140, 0.2);
    border-left-color: rgba(140, 140, 140, 0.2);
    
    animation: rotating 0.9s linear infinite;
  }
  
  @keyframes rotating{
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
  